<app-search (onSearch)='searchCharacter($event)'></app-search>
<ng-container *ngIf='characters$ | async as characters'>
  <div class='d-flex flex-wrap justify-content-center' style='gap: 1rem 0'>
    <app-card *ngFor='let character of characters.results;'
              [character]='character'
              (favouriteCharacter)='toggleFavouriteCharacter($event)'
              class='col-12 col-md-6 col-lg-3'
    ></app-card>
  </div>
  <hr>
  <div class='d-flex justify-content-center' #controls>
    <span *ngIf='characters.info?.prev' (click)='navigateCharachters(characters.info?.prev)'>prev </span>
    <span *ngIf='characters.info?.prev && characters.info?.next'
          class='mx-3'>
      ||
  </span>
    <span *ngIf='characters.info?.next' (click)='navigateCharachters(characters.info?.next)'>next </span>
  </div>
</ng-container>
<div *ngIf='favouriteCharacters.length' class='d-flex flex-column align-items-center mt-5'>
  <h2>Favourite Characters: </h2>
  <div *ngFor='let fc of favouriteCharacters'>
    {{fc.name}}
  </div>
</div>
<app-modal>
</app-modal>
